{% extends 'base.html' %} {% load static %}
{% block title %}<title>Obtain</title>{% endblock title%}
 {% block content %}
    <div style="display: flex; flex-direction: column-reverse; width: 100%; height: 100%; background-image:url('https://postfiles.pstatic.net/MjAyMTA2MDFfMjg5/MDAxNjIyNDg1NjY4ODIy.dM8i0nVobnM2FZHyzKN3xRGtAj6kTRcHmSUu9z1125Ug.9BMoVfIDUMnxNXrI2txrOzr2Ks_oCMz4yQqr4gQAcL4g.PNG.123gk/Screen_Shot_2021-06-01_at_3.27.12_AM.png?type=w580');">
    <div>
        <h1 style="margin: 0; text-align: center;">We  Find Some Movie Ball !<br> So, Totally {{ball_total}} Ball you got  !</h1>
        <p style="padding: 0px; border-bottom: {{ch_a}} solid rgb(53, 49, 49);">
            <h3 style="margin: 0; text-align: center;">Press =A= Button </h3>
        </p>
    </div>
    </div>
{% endblock content%}
